
{% extends 'layout.twig' %}

{% block content %}
{% block additional_stylesheets %}
            {{ encore_entry_link_tags('search') }}
            
    {% endblock %}

    {% block additional_javascripts %}
            {{ encore_entry_script_tags('search') }}
    {% endblock %}


<main>
<div class="row  p-4 overflow-scroll" style="max-height:100%;">
     
      {% for i in products %}
             
                   
        
     
      <div class="col-auto">
           
            <div class="card  border-none overflow-hidden  text-start product-card product-card-widget position-relative" id="{{ i.id }}" style="width:10rem;border:none;">
                <a href="/product?pr={{ i.id }}" class="text-decoration-none">
                <img src="{{ asset('build/imgs/products/'~i.id~'.jpg') }}" class="card-img-top" alt="...">
                <div class="promotion position-absolute "
                     style="color: white;
                            border: 1px solid black;
                            width: 100px;
                            top:10px;
                            left: -25px;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            overflow:hidden;
                            height: 25px; /* Adjust this value based on the width to maintain the aspect ratio */
                            background-color: rgb(116, 105, 69); /* Adjust color as needed */
                            rotate:-45deg;"
                                    
                                    >-{{ (100-((i.discountPrice/i.regularPrice)*100))|round(0, 'floor')}}%</div>
                 </a>
                
                <div class="card-body">
                    <h6 class="truncate-text">{{ i.name }}</h6>
                    <h6 >{{ i.discountPrice }}.00 Dhs</h6>
                    <p class="d-flex align-items-center justify-content-around">
                          <small><del>{{ i.regularPrice }}.00 Dhs<del> </small>
                          <button  class="btn outline-none btn-primary basket-button ignore" value={{ i.id }} style="border-radius:50px;">
                          <i class="fa-solid
                          {% if i.id in basket|keys %}
                            fa-check
                          {% else %}
                           fa-cart-shopping
                           {% endif %}"
                           ></i>
                          
                          </button>
                    </p>
                    
                </div> 
            
          </div>  
            
             </div>

         
                   
                  
                
          {% endfor %}



</div>


<script class="filter-script">
</script>

</main>



{% endblock %}